*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;    
}

.listing{
    padding-left: 14em;
    margin-top: 3%;
    margin-left: 0%;
}

.verified{
    padding-left: 9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
    padding-top: 3em;
}

.top-section{
    padding: 0em;
    
}

.verified img{
        width: 18%;
        height: 13vh;
}

.drop img{
    width: 60%;
    margin-bottom: 1.5em;
}

.col{
    padding-left: 11em;
}

.lis{
    padding-bottom: 0%;
}

.dollar{
    padding-top: 1.2em;
}
.dropdown{
    display: flex;
    padding-left: 8em;
}
.drop{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 46px;
}


select{
    padding: 5% 8%;
    border-radius: 5%;
    outline: none;
    border: 1px solid black;
    margin-right: 4%;
    margin-top: 1em;
}

@media (max-width: 1028px){
    .listing{
        margin-left: 0%;
        padding-left: 2em;
        margin-top: 5%;
    }
}


@media (max-width: 320px){
    .listing{
        margin-left: 0%;
        padding-left: 0em;
        margin-top: 24%;
    }

    .verified{
        padding-left: 0em;
        padding-top: 5em;
    }

    .dropdown{
        padding-left: 0em;
        margin-left: -35px;
    }

    .col{
        padding-left: 0em;
        padding-top: 2em;
        padding-bottom: 6%;
        margin-left: -33px;
    }

    .lis{
        margin-left: 0%;
        padding-left: 0em;

    }
    .drop{
        padding-left: 0em;
        padding: 0px;
    }
    .drop img{
        width: 40%;
        margin-bottom: 1.5em;
    }
    .verified img{
        width: 20%;
        height: 8vh;
    }
    label{
        font-size: smaller;
    }
    select{
        padding: 5% 0%;
    }
}